extends header

block title
  title=title

block content
  .container-fluid
    br
    .row
      .col-sm-4
        //offset
      .col-xs-12.col-sm-4(align='center')
        include links
      .col-sm-4
        //offset
    .row
      .col-sm-4
        //offset
      .col-sm-4(align='center')
        block form
    br
    br
    .row
      .col-sm-4
        //offset
      .col-xs-12.col-sm-4(align='center')
        include pic
